<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" href="../stylesheets/application.css">
</head>
<body>
    <section class="projects" id="projects">
        <figure>
            <img src="../img/projects.png" alt="" class="title">
        </figure>


        <div class="projects-web">
                <figure>
                    <img src="../img/web.png" alt="" class="web">

                </figure>
                <div class="sliders">
                    <li id="project1">
                        <figure>
                            <img src="../img/screen1.png" alt="" class="screen1">

                        </figure>

                            <div class="platforms">
                                <a href="https://www.heroku.com/" target="_blank"><img src="../img/heroku.png" alt="" class="heroku"></a>
                                <a href="https://www.github.com" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                                <a href="https://www.figma.com" target="_blank"><img src="../img/figma.png" alt="" class="figma"></a>
                            </div>
                    </li>

                    <li id="project2">
                        <figure>
                            <img src="../img/screen2.png" alt="" class="screen2">

                        </figure>
                        <div class="platforms">
                            <a href="https://www.heroku.com/" target="_blank"><img src="../img/heroku.png" alt="" class="heroku"></a>
                            <a href="https://www.github.com" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                            <a href="https://www.figma.com" target="_blank"><img src="../img/figma.png" alt="" class="figma"></a>
                        </div>

                    </li>
                    <li id="project3">
                        <figure>
                            <img src="../img/screen3.png" alt="" class="screen3">

                        </figure>

                        <div class="platforms">
                            <a href="https://www.heroku.com/" target="_blank"><img src="../img/heroku.png" alt="" class="heroku"></a>
                            <a href="https://www.github.com" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                            <a href="https://www.figma.com" target="_blank"><img src="../img/figma.png" alt="" class="figma"></a>
                        </div>
                    </li>
                </div>

                <div class="menu">
                    <a href="#project1">1</a>
                    <a href="#project2">2</a>
                    <a href="#project3">3</a>

                </div>
        </div>

        <figure>
            <img src="../img/number3.png" alt="" class="number3">
        </figure>

    </section>
</body>
</html>
