<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!-- Hotjar Tracking Code for my site -->
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3363289,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link rel="stylesheet" href="../stylesheets/application.css">

</head>
<body>


    <section class="header">
        <div class="social-media">
            <a href="https://www.linkedin.com/in/diego-marin-48554653/" target="_blank"><img src="../img/linkedin.png" alt="" class="linkedin"></a>

            <a href="https://github.com/DIGORACCOON4279" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
            <a href="https://www.behance.net/gallery/160745555/Break-a-Leg" target="_blank"><img src="../img/behance.png" alt="" class="behance"></a>
            <a href="../img/resume.pdf" target="_blank"><img src="../img/resume.png" alt="" class="resume"></a>
        </div>
        <a href="menu.html"><img src="../img/vector-menu.png" alt="" class="menu-bars"></a>
    </section>

    <section class="hero-section" id="hero-section">

            <div class="title">
                <p class="name">Hi, I´m Diego</p>
                <p class="text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit..</p>
            </div>
            <figure class="my-image">
                <img src="../img/mypic1.png" alt="" class="my-pic1">
            </figure>


    </section>

    <marquee behavior="" direction="">
        <h1 class="headline">UX/UI - Frontend developer</h1>
    </marquee>

    <section class="frame">
        <figure>
            <img src="../img/frame1.png" alt="" class="frame1">
        </figure>
    </section>

    <section class="about-me" id="about-me">
        <div class="article-left">
            <figure>
                <img src="../img/picdark.png" alt="" class="pic-dark">
            </figure>
            <p class="text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.. </p>
        </div>
            <div class="article-right">


                <figure>
                    <img src="../img/aboutme.png" alt="" class="title">
                </figure>
                <figure>
                    <img src="../img/number1.png" alt="" class="number1">
                </figure>
            </div>
    </section>

    <section class="frame">
        <figure>
            <img src="../img/frame2.png" alt="" class="frame2">
        </figure>
    </section>


    <section class="technology" id="technology">
        <figure>
            <img src="../img/technology.png" alt="" class="title">
        </figure>
        <div class="tool-technology">
            <div class="design">
                <figure class="background-front">
                    <img src="../img/design.png" alt="" class="front-design">
                </figure>
                <figure class="background-back">
                    <img src="../img/icons-design.png" alt="" class="back-design">
                </figure>

            </div>
            <div class="frontend">
                <figure class="background-front">
                    <img src="../img/frontend.png" alt="" class="front-frontend">
                </figure>
                <figure class="background-back">
                    <img src="../img/icons-frontend.png" alt="" class="back-frontend">
                </figure>

            </div>
            <div class="backend">
                <figure class="background-front">
                    <img src="../img/backend.png" alt="" class="front-backend">
                </figure>
                <figure class="background-back">
                    <img src="../img/icons-backend.png" alt="" class="back-backend">
                </figure>

            </div>
            <div class="tools">
                <figure class="background-front">
                    <img src="../img/tools.png" alt="" class="front-tools">
                </figure>
                <figure class="background-back">
                    <img src="../img/icons-tools.png" alt="" class="back-tools">
                </figure>

            </div>
        </div>
        <figure>
            <img src="../img/number2.png" alt="" class="number2">
        </figure>
    </section>


    <section class="frame">
        <figure>
            <img src="../img/frame3.png" alt="" class="frame3">
        </figure>
    </section>






<!-------proyectos-------->

    <section class="projects" id="projects">

            <figure>
                <img src="../img/projects.png" alt="" class="title">
            </figure>

        <div class="container">

            <ul class="slider">
                <li id="slide1">
                    <figure>
                        <img src="../img/laptop1.png" alt="" class="laptop1">

                    </figure>

                        <div class="platforms">
                            <a href="https://www.heroku.com/" target="_blank"><img src="../img/heroku.png" alt="" class="heroku"></a>
                            <a href="https://www.github.com" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                            <a href="https://www.figma.com" target="_blank"><img src="../img/figma.png" alt="" class="figma"></a>
                        </div>
                </li>
                <li id="slide2">
                    <figure>
                        <img src="../img/laptop2.png" alt="" class="laptop2">

                    </figure>
                    <div class="platforms">
                        <a href="https://www.heroku.com/" target="_blank"><img src="../img/heroku.png" alt="" class="heroku"></a>
                        <a href="https://www.github.com" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                        <a href="https://www.figma.com" target="_blank"><img src="../img/figma.png" alt="" class="figma"></a>
                    </div>
                </li>
                <li id="slide3">
                    <figure>
                        <img src="../img/laptop3.png" alt="" class="laptop3">
                    </figure>
                    <div class="platforms">
                        <a href="https://www.heroku.com/" target="_blank"><img src="../img/heroku.png" alt="" class="heroku"></a>
                        <a href="https://www.github.com" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                        <a href="https://www.figma.com" target="_blank"><img src="../img/figma.png" alt="" class="figma"></a>
                    </div>
                </li>
            </ul>

            <ul class="menu">
                <li>
                    <a href="#slide1"></a>
                </li>
                <li>
                    <a href="#slide2"></a>
                </li>
                <li>
                    <a href="#slide3"></a>
                </li>
            </ul>
        </div>
        <figure>
            <img src="../img/number3.png" alt="" class="number3">
        </figure>
        <div class="orange-point"></div>

    </section>

    <section class="frame">
        <figure>
            <img src="../img/frame4.png" alt="" class="frame4">
        </figure>
    </section>

    <footer class="footer" id="contact-me">

            <figure>
                <img src="../img/contactme.png" alt="" class="title">
            </figure>

        <div class="container-footer">
            <figure>
                <img src="../img/number4.png" alt="" class="number4">
            </figure>
            <div class="social-media">
                <a href="https://www.linkedin.com/in/diego-marin-48554653/" target="_blank"><img src="../img/linkedin.png" alt="" class="linkedin"></a>
                <a href="https://github.com/DIGORACCOON4279" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                <a href="https://www.behance.net/gallery/160745555/Break-a-Leg" target="_blank"><img src="../img/behance.png" alt="" class="behance"></a>
                <a href="../img/resume.pdf" target="_blank"><img src="../img/resume.png" alt="" class="resume"></a>

            </div>
        </div>
            <div class="author">
                <div class="info">
                <p class="developer">Developed and made with </p>
                <span class="heart">💖</span>
                <p class="name">by Diego Marín 🚀</p>
            </div>

            <p class="spot">Medellín | Colombia | 2023</p>
        </div>
    </footer>

</body>
</html>

