<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" type="image/png" href="../img/raccoon.png"/>
    <!-- Style & CSS3 -->
    <link rel="stylesheet" href="../stylesheets/application.css">
</head>
<body>

    <!-- Header - Social Network & Contact -->

    <header class="header">
        <div class="social-media">
            <a href="https://www.linkedin.com/in/diegomarinmora/" target="_blank"><img src="../img/linkedin.svg" alt="" class="linkedin"></a>
            <a href="https://github.com/DIGORACCOON4279" target="_blank"><img src="../img/github.svg" alt="" class="github"></a>
            <a href="https://www.behance.net/diegomarin21" target="_blank"><img src="../img/behance.svg" alt="" class="behance"></a>
            <a href="https://www.canva.com/design/DAEsDw2MN44/Qz8u92eqiV8Tdmnq5npKqg/view?website#1:resume" target="_blank"><img src="../img/resume.svg" alt="" class="resume"></a>
        </div>
        <a href="menu.html"><img src="../img/menu.svg" alt="" class="menu-bars"></a>
    </header>

    <!-- Main Container -->

    <main class="main-container">

        <!-- Hero Section -->

        <section class="hero-section" id="hero-section">
            <div class="title">
                <p class="name">Hi, I´m Diego</p>
                <p class="text">UX/UI designer & Frontend developer.</p>
                <a href="#projects" class="my-projects">My projects</a>
            </div>
            <figure class="my-image">
                <img src="../img/mypic1.png" alt="" class="my-pic1">
            </figure>
        </section>

        <!-- Slider -->

        <section class="sectionSlider">
            <div class="slider">
                <section class="design">
                    <h1 class="headline">U</h1>
                    <h1 class="headline">X</h1>
                    <h1 class="headline">/</h1>
                    <h1 class="headline">U</h1>
                    <h1 class="headline">I</h1>
                    <h1 class="headline" id="exceptTwo"></h1>
                    <h1 class="headline">D</h1>
                    <h1 class="headline">e</h1>
                    <h1 class="headline">s</h1>
                    <h1 class="headline">i</h1>
                    <h1 class="headline">g</h1>
                    <h1 class="headline">n</h1>
                    <h1 class="headline">e</h1>
                    <h1 class="headline">r</h1>
                </section>
                <h1 class="dash"> - </h1>
                <section class="developer">
                    <h1 class="headline">F</h1>
                    <h1 class="headline">r</h1>
                    <h1 class="headline">o</h1>
                    <h1 class="headline">n</h1>
                    <h1 class="headline">t</h1>
                    <h1 class="headline">e</h1>
                    <h1 class="headline">n</h1>
                    <h1 class="headline">d</h1>
                    <h1 class="headline" id="exceptThree"></h1>
                    <h1 class="headline">d</h1>
                    <h1 class="headline">e</h1>
                    <h1 class="headline">v</h1>
                    <h1 class="headline">e</h1>
                    <h1 class="headline">l</h1>
                    <h1 class="headline">o</h1>
                    <h1 class="headline">p</h1>
                    <h1 class="headline">e</h1>
                    <h1 class="headline">r</h1>
                </section>
            </div>
        </section>

        <!-- Frame 1 -->

        <section class="frame">
            <figure>
                <img src="../img/frame1.png" alt="" class="frame1">
            </figure>
        </section>

        <!-- About me -->

        <section class="about-me" id="about-me">
            <div class="article-left">
                <figure>
                    <img src="../img/picdark.png" alt="" class="pic-dark">
                </figure>
                <p class="text">"Hello there! Just an average person with a passion for design, technology, and creativity. I love exploring new ideas in design and enjoy music, nature, extreme sports, rock, and metal. Always seeking inspiration to elevate my projects..." </p>
            </div>
            <div class="article-right">
                <figure>
                    <img src="../img/aboutme.png" alt="" class="title">
                </figure>
                <figure>
                    <img src="../img/number1.png" alt="" class="number1">
                </figure>
            </div>
        </section>

        <!-- Frame 2 -->

        <section class="frame">
            <figure>
                <img src="../img/frame2.png" alt="" class="frame2">
            </figure>
        </section>

        <!-------Projects-------->

        <section class="projects" id="projects">
            <figure>
                <img src="../img/projects.png" alt="" class="title">
            </figure>
            <div class="container">
                <ul class="slider">
                    <li id="slide1">
                        <figure>
                            <img src="../img/laptop1.png" alt="" class="laptop1">
                        </figure>
                            <div class="platforms">
                                <a href="https://www.heroku.com/" target="_blank"><img src="../img/heroku.png" alt="" class="heroku"></a>
                                <a href="https://www.github.com" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                                <a href="https://www.figma.com" target="_blank"><img src="../img/figma.png" alt="" class="figma"></a>
                            </div>
                    </li>
                    <li id="slide2">
                        <figure>
                            <img src="../img/laptop2.png" alt="" class="laptop2">
                        </figure>
                        <div class="platforms">
                            <a href="https://www.heroku.com/" target="_blank"><img src="../img/heroku.png" alt="" class="heroku"></a>
                            <a href="https://www.github.com" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                            <a href="https://www.figma.com" target="_blank"><img src="../img/figma.png" alt="" class="figma"></a>
                        </div>
                    </li>
                    <li id="slide3">
                        <figure>
                            <img src="../img/laptop3.png" alt="" class="laptop3">
                        </figure>
                        <div class="platforms">
                            <a href="https://www.heroku.com/" target="_blank"><img src="../img/heroku.png" alt="" class="heroku"></a>
                            <a href="https://www.github.com" target="_blank"><img src="../img/github.png" alt="" class="github"></a>
                            <a href="https://www.figma.com" target="_blank"><img src="../img/figma.png" alt="" class="figma"></a>
                        </div>
                    </li>
                </ul>
                <ul class="menu">
                    <li>
                        <a href="#slide1"></a>
                    </li>
                    <li>
                        <a href="#slide2"></a>
                    </li>
                    <li>
                        <a href="#slide3"></a>
                    </li>
                </ul>
            </div>
            <figure>
                <img src="../img/number2.png" alt="" class="number2">
            </figure>
            <div class="orange-point"></div>
        </section>

        <!-- Frame 3 -->

        <section class="frame">
            <figure>
                <img src="../img/frame3.png" alt="" class="frame3">
            </figure>
        </section>

        <!-- Technologies -->

        <section class="technology" id="technology">
            <figure>
                <img src="../img/technology.png" alt="" class="title">
            </figure>
            <div class="tool-technology">
                <div class="design">
                    <figure class="background-front">
                        <img src="../img/design.png" alt="" class="front-design">
                    </figure>
                    <figure class="background-back">
                        <img src="../img/icons-design.png" alt="" class="back-design">
                    </figure>
                </div>
                <div class="frontend">
                    <figure class="background-front">
                        <img src="../img/frontend.png" alt="" class="front-frontend">
                    </figure>
                    <figure class="background-back">
                        <img src="../img/icons-frontend.png" alt="" class="back-frontend">
                    </figure>
                </div>
                <div class="backend">
                    <figure class="background-front">
                        <img src="../img/backend.png" alt="" class="front-backend">
                    </figure>
                    <figure class="background-back">
                        <img src="../img/icons-backend.png" alt="" class="back-backend">
                    </figure>
                </div>
                <div class="tools">
                    <figure class="background-front">
                        <img src="../img/tools.png" alt="" class="front-tools">
                    </figure>
                    <figure class="background-back">
                        <img src="../img/icons-tools.png" alt="" class="back-tools">
                    </figure>
                </div>
            </div>
            <figure>
                <img src="../img/number3.png" alt="" class="number3">
            </figure>
        </section>

        <!-- Frame 4 -->

        <section class="frame">
            <figure>
                <img src="../img/frame4.png" alt="" class="frame4">
            </figure>
        </section>

    </main>

    <!-- Footer -->

    <footer class="footer" id="contact-me">
        <figure>
            <img src="../img/contactme.png" alt="" class="title">
        </figure>
        <div class="container-footer">
            <figure>
                <img src="../img/number4.png" alt="" class="number4">
            </figure>
            <div class="social-media">
                <a href="https://www.linkedin.com/in/diegomarinmora/" target="_blank"><img src="../img/linkedin.svg" alt="" class="linkedin"></a>
                <a href="https://github.com/DIGORACCOON4279" target="_blank"><img src="../img/github.svg" alt="" class="github"></a>
                <a href="https://www.behance.net/diegomarin21" target="_blank"><img src="../img/behance.svg" alt="" class="behance"></a>
                <a href="https://www.canva.com/design/DAEsDw2MN44/Qz8u92eqiV8Tdmnq5npKqg/view?website#1:resume" target="_blank"><img src="../img/resume.svg" alt="" class="resume"></a>
            </div>
        </div>
        <div class="author">
            <div class="info">
                <p class="developer">Developed and made with </p>
                <span class="heart">💖</span>
                <p class="name">by Diego Marín 🚀</p>
            </div>
            <p class="spot">Medellín | Colombia | 2023</p>
        </div>
    </footer>

    <!-- Hotjar Tracking Code for my site -->

    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3363289,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</body>
</html>

