
.about-me{
    width:100vw;
    max-width: 1300px;
    height: auto;
    display: flex;
}
.about-me .article-left{
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.about-me .article-left .pic-dark{
    width:140%;
    align-self: center;
}
.about-me .article-left .text{
    position: absolute;
    bottom: 10px;
    left:200px;
    color: var(--gray);
    font-family: var(--body-font);
    font-size: 20px;
}
.about-me .article-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.about-me .article-right .title{
    width: 120%;
}
.about-me .article-right .number1{
    padding-top: 20px;
    position: absolute;
    left: 100px;
}
