.projects{

  width:100%;
  height:1100px;
  position: relative;
}
.projects .title{
  width: 50%;
  position: absolute;
  top:-15%;
  left:25%;
}
.projects .container{
  margin: auto;
  width: 1000px;
  padding: 30px;
}

.projects .container .slider, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.projects .container ul.slider{
  position: relative;
  width: 1000px;
  height: 500px;
}

.projects .container ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

.projects .container ul.slider li img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.projects .container ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

.projects .container ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
.projects .container ul.slider li  .platforms{
  width:28%;
  height: auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color:var(--white);
  position: absolute;
  bottom:155px;
  left:365px;
}
.projects .container ul.slider li  .platforms a{
  width: 10%;
  background-color:var(--white);

}
.projects .container ul.slider li  .platforms a img{
  width:80%;
  height: auto;
  background-color:var(--white);

}





.projects .container .menu{
  width:8%;
  display: inline-block;
  text-align: center;
  margin: 20px;
  position: absolute;
  top:45%;
  left:47%;
  background-color: transparent;

}

.projects .container .menu li{
  text-align: center;
  background-color:transparent;
  display: inline-block;
}

.projects .container .menu li a{
  display: inline-block;

  text-decoration: none;
  background-color: var(--orange);
  width: 13px;
  height: 13px;
  border-radius: 50%;
z-index: 10;
}

.projects .number3{
  position:absolute;
  top:100px;
  right:10px;
  z-index: 10;
  background-color: transparent;
}
.projects .orange-point{
  width:1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0px 0px 250px 150px var(--orange);
  background-color: var(--orange);
  position: absolute;
  left:-5%;
  bottom:35%;
  z-index: 0;
}

