
.header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    position: fixed;
    z-index: 100;
    opacity:.9;
}
.header .menu-bars{
    width:40px;
    transition: .3s;
    align-self: center;
}
.header .menu-bars:hover{
    opacity: .7;
}
.header .social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}
.header .social-media .linkedin{
    width: 40px;
    transition: .3s;
}
.header .social-media .linkedin:hover{
    opacity:.8;
    transform: scale(1.2, .8);
}
.header .social-media .github{
    width: 40px;
    transition: .3s;
}
.header .social-media .github:hover{
    opacity:.8;
    transform: scale(1.2, .8);
}
.header .social-media .behance{
    width: 40px;
    transition: .3s;
}
.header .social-media .behance:hover{
    opacity:.8;
    transform: scale(1.2, .8);
}
.header .social-media .resume{
    width: 40px;
    transition: .3s;
}
.header .social-media .resume:hover{
    opacity:.8;
    transform: scale(1.2, .8);
}
