*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
    display: flex;
    height:auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 0 0;
}
.hero-section .title{
    width:40%;
    margin-left: 100px;
}
.hero-section .title .name{
    font-size: 50px;
    color: var(--orange);
    font-family: var(--body-font);
}
.hero-section .title .text{
    font-size: 30px;
    color: var(--gray);
    font-family: var(--body-font);
}
.hero-section .my-image{
    width: 60%;
    opacity:.4;
}
.hero-section .my-image .my-pic1{
    width: 100%;
}
.headline{
    position: relative;
    top: 20px;
    font-size: 250px;
    color: var(--orange);
    font-family: var(--header-font);
    letter-spacing: 50px;
}

