*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    height: auto;
    padding: 5em 7em;
    height: 100vh;
}
h1{
    font-size: 180px;
    letter-spacing: 25px;
    font-family: var(--header-font);
    line-height: 200px;
}
.overlay {
    background: var(--black);
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 100ms;
}
.overlay .menu-bars{
    width:40px;
    position: absolute;
    top:33px;
    right: 67px;
    transition:.5s;
}
.overlay .menu-bars:hover{
    opacity: .7;
}
span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--black);
    display: flex;
    cursor: pointer;
}
svg {
    margin: 1em;
    fill: white;
}
.is-open {
    clip-path: circle(200% at 100% 100%);
    transition: clip-path 1.9s;
    transition-timing-function: cubic-bezier(1,-0.01,.01,.99);
}
