
.container-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container-menu .menu-bars{
    width:40px;
    position: absolute;
    top:22px;
    right: 50px;
    transition:.3s;
}
.container-menu .menu-bars:hover{
    opacity: .7;
}
.container-menu .menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px;
}
.container-menu .menu .link{
    font-size: 45px;
    color: var(--gray);
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.container-menu .menu .link li{
    font-family: var(--body-font);
    transform: translate(0%);
    animation: motion .8s ease;
}
@keyframes motion{
    from{
        transform: translate(-100%);
        opacity: 0;
    }
    to{
        transform: translate(0%);
        opacity: 1;
    }
}
.container-menu .menu .link:nth-child(1){
    margin-left: 150px;
}
.container-menu .menu .link:nth-child(2){
    margin-top: 40px;
    margin-left: 300px;
}
.container-menu .menu .link:nth-child(3){
    margin-top: 40px;
    margin-left: 450px;
}
.container-menu .menu .link:nth-child(4){
    margin-top: 40px;
    margin-left: 600px;
}
.container-menu .menu .link:nth-child(5){
    margin-top: 40px;
    margin-left: 750px;
}
.container-menu .menu .link .arrow{
    width:80%;
    height:2px;
    background-color: var(--orange);
    opacity:0;
    transform: translate(0%);
    transition: transform .5s ease-in-out;
}
.container-menu .menu .link:hover .arrow{
    transform: translate(40%);
    width:80%;
    height:2px;
    background-color: var(--orange);
    opacity:1;
}
